
@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error 400, estás intentando acceder a un recurso que no se encuentra disponible para ti</h2>
<p>Si debes acceder ponte en contacto con el administrador</p>
